<div style="margin-bottom: 80px;">
    <p-steps [model]="items" [activeIndex]="3"></p-steps>
</div>

<p style="font-size: 30px; font-weight: lighter; text-align: center; margin-bottom: 40px; padding-bottom: 20px;  border-bottom: 1px solid #dee2e6;">Order placed Successfully :)</p>
<p style="font-size: 26px; font-weight: lighter; text-align: center;"> Your order has been placed successfully with order ID #1482811 </p>
<p style="font-size: 26px; font-weight: lighter; text-align: center; margin-bottom: 60px; padding-bottom: 20px; "> Thank you! </p>

<div style="margin-top: 40px; display: flex; align-items: center; justify-content: space-between;">
    <button pButton pRipple type="button" label="Back to Shop" class="p-button-text" icon="pi pi-chevron-left" style="color: rgba(35, 48, 62, 0.8); font-weight: bold;" routerLink="/shop/home-page"></button>
</div>