/* You can add global styles to this file, and also import other style files */
// .p-menubar {
//     background-color: rgb(35, 48, 62);
//     border: 0px;
//     border-radius: 0px;
// }

.p-breadcrumb {
    font-size: small;
    border: 0px;
    padding: 0px;
}