<div *ngIf="product">
    <div class="row" style="margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #dee2e6;">
        <div class="col-5" style="border-right: 1px solid #dee2e6; text-align: center;">
            <p-image [src]="'assets/' + product.img" alt="Image" [preview]="true" height="350px" width="100%"></p-image>
        </div>
        <div class="col-7">
            <p style="font-size: 40px; font-weight: lighter; margin-bottom: 0px; margin-top: 10px;">{{ product.name }}</p>
            <p style="font-size: 20px; font-weight: lighter; margin-bottom: 10px;">{{ product.description }}</p>
            <i class="pi pi-tag" style="color: gray; margin-right: 5px;"></i>
            <p style="font-size: 20px; font-weight: lighter; margin-bottom: 20px; display: inline-block; color: gray;">{{ product.category }}</p>
            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"
                [iconOnStyle]="{color: 'rgb(251, 192, 45)'}" [iconOffStyle]="{color: 'rgb(251, 192, 45)'}">
            </p-rating>
            <div style="display: flex; justify-content: start; margin-bottom: 10px; margin-top: 10px;">
                <p [class]="product.inventoryStatus" style="padding: 0px 5px; margin-right: 5px;">{{ product.inventoryStatus }}</p>
                <p *ngIf="product.inventoryStatus != 'OUTOFSTOCK' && product.price_before" class="INSTOCK" style="padding: 0px 5px; margin-right: 5px;"> SALE! </p>
            </div>
            <p style="font-size: 20px; color: gray; margin-bottom: 10px;"> <span *ngIf="product.inventoryStatus != 'OUTOFSTOCK' && product.price_before" style="text-decoration: line-through; color: #AAAAAA;">{{product.price_before.toLocaleString('en', {useGrouping:true})}} EGP</span> {{product.price.toLocaleString('en', {useGrouping:true})}} EGP</p>
            <div style="display: flex; justify-content: start;">
                <div>
                    <button *ngIf="get_count(product.id) <= 0" pButton pRipple type="button" label="Add to cart" class="cart-button-1" icon="pi pi-shopping-cart" iconPos="right" (click)="addToCart(product.id)" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></button>
                    <div *ngIf="get_count(product.id) > 0" class="cart-button-2">
                        <button pButton pRipple type="button" icon="pi pi-minus" class="p-button-sm p-button-rounded p-button-text p-button-warning" style="color: black;" (click)="minus(product.id)"></button>
                        <div pButton pRipple type="button" class="p-button p-button-text" style="color: black; padding: 6px 15px;"> {{get_count(product.id)}} </div>
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-sm p-button-rounded p-button-text p-button-warning" style="color: black;" (click)="plus(product.id)"></button>
                    </div>
                </div>
                <div><button pButton pRipple type="button" class="p-button-danger p-button-outlined" style="font-size: x-large; padding: 19px 2.5px 20.5px 10px; height: 39.5px; margin-left: 3px;" (click)="addToFav(product.id)" pTooltip="Add to wishlist">{{get_fav(product.id)?'♥':'♡'}}</button></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #dee2e6;">
        <div class="col-7" style="border-right: 1px solid #dee2e6;">
            <p style="font-size: 23px; font-weight: lighter; text-align: center; margin-bottom: 20px; width: 300px; margin: auto; border-bottom: 1px solid #dee2e6;">Description</p>
            <div style="padding: 30px 20px 0px 20px;">
                <p-scrollPanel [style]="{width: '100%', height: '570px'}">
<pre style="font-size: 16px;">
{{product.full_description}}
</pre>
                </p-scrollPanel>
            </div>
        </div>
        <div class="col-5">
            <p style="font-size: 23px; font-weight: lighter; text-align: center; margin-bottom: 20px; width: 300px; margin: auto; border-bottom: 1px solid #dee2e6;">Add Review</p>
            <div style="margin: 20px 10px 0px 10px; padding: 30px 20px; border: 1px solid #dee2e6; background-color: #dee2e610; font-size: 14px;">
                <p style="margin-bottom: 5px;">Your email address will not be published.</p>
                <p>Required fields are marked <span style="color: red;">*</span></p>
                <p style="margin-bottom: 5px;">Your rating <span style="color: red;">*</span></p>
                <p-rating [(ngModel)]="current_rating" [cancel]="false" [iconOnStyle]="{color: 'rgb(251, 192, 45)'}"
                [iconOffStyle]="{color: 'rgb(251, 192, 45)'}" (onRate)="x1 = false"></p-rating>
                <p *ngIf="x1" class="p-error" style="font-size: small; visibility: visible;">Your rating is required.</p>
                <p style="margin-bottom: 5px; margin-top: 15px;">Your review <span style="color: red;">*</span></p>
                <textarea pInputTextarea [(ngModel)]="current_review" style="width: 100%; min-height: 120px; max-height: 120px;" [style]="x2?'border-color: red':''" [autoResize]="true" (input)="x2 = current_review == ''"></textarea>
                <p *ngIf="x2" class="p-error" style="font-size: small; visibility: visible;">Your review is required.</p>
                <p style="margin-bottom: 5px; margin-top: 15px;">Name <span style="color: red;">*</span></p>
                <input type="text" pInputText [(ngModel)]="name" style="width: 100%;" [style]="x3?'border-color: red':''" (input)="x3 = name == ''">
                <p *ngIf="x3" class="p-error" style="font-size: small; visibility: visible;">Your name is required.</p>
                <p style="margin-bottom: 5px; margin-top: 15px;">Email <span style="color: red;">*</span></p>
                <input type="text" pInputText [(ngModel)]="email" style="width: 100%;" [style]="x4?'border-color: red':''" (input)="x4 = email == ''">
                <p *ngIf="x4" class="p-error" style="font-size: small; visibility: visible;">{{x4_comment}}</p>
                <div style="display: flex; justify-content: center;">
                    <button pButton pRipple type="button" label="Submit review" class="p-button-raised p-button-text" style="color: black; margin-top: 30px;" (click)="submit_review()"></button>
                </div>
            </div>
        </div>
    </div>
    <p style="font-size: 25px; font-weight: lighter; text-align: center; margin-bottom: 40px; width: 500px; margin: auto; border-bottom: 1px solid #dee2e6;">Related products</p>
    <app-data-view [products]="relatedProducts" layout="grid" [show_header]="false" [product_detailed]="false" [rows]="3" [alwaysShowPaginator]="false"></app-data-view>
</div>
<div *ngIf="!product">
    <p style="margin-bottom: 40px; padding-bottom: 40px; font-size: 40px; font-weight: lighter; text-align: center;">Opps! Product not found.</p>
</div>

<p-toast></p-toast>